<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379499139082-isak1q2bfj2l1jft1jeapssof1h33529.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379499139082-isak1q2bfj2l1jft1jeapssof1h33529</string>
	<key>API_KEY</key>
	<string>AIzaSyAuqgObzhLOxW55Yj07wS0XnlMA7DUeWtg</string>
	<key>GCM_SENDER_ID</key>
	<string>379499139082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Roman.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat1i1</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat1i1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379499139082:ios:6f7f4f7b11c800828d4ff3</string>
</dict>
</plist>